subscription-section .card-footer .row.add-to-cart {
  display: none;
}
.nextBtn {
    float: right;
}
.selected-products {
    padding: 30px;
}
.selected-products-wrapper{
    border: 1px solid;
    padding: 20px;
    margin-bottom: 20px;
}
button.btn.btn-primary.btn-sm.nextBtn {
    float: right;
}
.remove-btn {
    cursor: pointer;
}
.frequency {
    cursor: pointer;
}
.frequency.active p {
    border: 2px solid rgb(83, 29, 29) !important;
}